@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.design{
  font-family: 'Roboto Condensed', sans-serif;
  margin:15% auto 0 auto;
  background-color: rgb(0, 1, 2);
  width:200px;
  text-align: center;
  padding:30px;
  border:1px solid rgb(169, 117, 224) ;
  border-radius: 50%;
  color: rgb(235, 237, 250);
}
